@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin-right: 10px;
}
.slick-slider > button {
  display: none !important;
}
/* .slick-slider > button:hover {
  visibility: visible;
} */
.slick-dots li button:before {
  color: rgb(187, 187, 187);
}
.slick-dots li button:active {
  color: rgb(224, 224, 224);
}

.hide::-webkit-scrollbar {
  width: 20px;
}
.scroll {
  overflow-y: hidden;
}
.hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b01818;
  /* border-radius: 10px; */
}

::-webkit-scrollbar {
  width: 10px;
}
